.fading {
    -webkit-animation: fade 4s;
    animation: fade 4s;
    -moz-animation: fade 4s;
    -o-animation: fade 4s;
}
    
    @-webkit-keyframes fade {
        0% {opacity: 0} 
        100% {opacity:1}
    }
    
    @-moz-keyframes fade{
        0% {opacity: 0} 
        100% {opacity:1}
    }
    
    @keyframes fade {
        0% {opacity: 0} 
        100% {opacity:1}
    }

    @-o-keyframes fade {
        0% {opacity: 0} 
        100% {opacity:1}
    }

    .sliding {
        -webkit-animation: slidein 1s;
        animation: slidein 1s;
        -moz-animation: slidein 1s;
        -o-animation: slidein 1s;
    }
        
        @-webkit-keyframes slidein {
            from {
                margin-left: 100%;
                width: 300%; 
              }
            
              to {
                margin-left: 0%;
                width: 100%;
              }
        }
        
        @-moz-keyframes slidein{
            from {
                margin-left: 100%;
                width: 300%; 
              }
            
              to {
                margin-left: 0%;
                width: 100%;
              }
        }
        
        @keyframes slidein {
            from {
                margin-left: 100%;
                width: 300%; 
              }
            
              to {
                margin-left: 0%;
                width: 100%;
              }
        }

        @-o-keyframes slidein {
            from {
                margin-left: 100%;
                width: 300%; 
              }
            
              to {
                margin-left: 0%;
                width: 100%;
              }
        }