@import "carousel-animations.component.scss";

.carousel{
    width:100%;
    height:60%;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    @media only screen and (max-width: 425px) {
        height:45%;
    }
    >div{
        text-align: center;
        flex-shrink:0;
        -webkit-flex-shrink: 0;
        max-width:100%;
        max-height:100%;
        @media only screen and (min-width: 40em) {
            max-width: 700px;
        }
        &:not(:first-child){
            display: none
        }
    }
    img{
        flex-shrink:0;
        -webkit-flex-shrink: 0;
        max-width:70%;
        max-height:330px;
        border: solid 10px white;
        border-radius: 160px;
    }
    a{
        cursor: pointer;
        margin: 20px;
        top: -130px;
        position: relative;
        @media only screen and (max-width: 40em) {
            top: -25vw;
        }
        @media only screen and (max-width: 425px) {
            margin: 0px;
            top: 0px;
            position: inherit;
        }
    }
    h4{
        font-weight: 500;
    }
    
}