<div class="carousel">
        <div *ngFor="let image of allPhotos; index as i">
                <a><i class="fa fa-arrow-left" (click)="triggerCarousel('prev', allPhotos)"></i></a>
                <img (swipeleft)="triggerCarousel('prev', allPhotos)" (swiperight)="triggerCarousel('next', allPhotos)" (swipedown)="toggleMenu('ArrowDown')" class="image-{{i}}" src="{{image.urls.regular}}"/>
                <a><i class="fa fa-arrow-right" (click)="triggerCarousel('next', allPhotos)"></i></a>
                <p class="description desc-{{i}}"><i>{{image.description}}</i></p>
        </div>
</div>