	<nav class="pages-nav">
		<div class="pages-nav__item"><a class="link link--page" href="#page-me">About Me</a></div>
		<div class="pages-nav__item"><a class="link link--page" href="#page-like">Things I Like</a></div>
		<div class="pages-nav__item"><a class="link link--page" href="#page-dreams">My Dreams</a></div>
		<div class="pages-nav__item pages-nav__item--social">
			<a class="link link--social link--faded" href="https://www.linkedin.com/in/alicia-soh"><i class="fa fa-linkedin"></i><span class="text-hidden">LinkedIn</span></a>
			<a class="link link--social link--faded" href="https://www.github.com/aliciasoh"><i class="fa fa-github"></i><span class="text-hidden">Github</span></a>
		</div>
	</nav>
	<div class="pages-stack">
		<div class="page" id="page-me">
            <app-me></app-me>
		</div>
		<div class="page" id="page-like">
            <app-like></app-like>
		</div>
		<div class="page" id="page-dreams">
            <app-dreams></app-dreams>
		</div>
	</div>
	<button class="menu-button"><span>Menu</span></button>